
#banner {
  padding: 30px;
  width: calc(100% - 60px);
  height: auto;
}

nav  {
  position: absolute;
}

#content, .contact {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 495px);
  padding: 0px 60px 60px 60px;
}

#content > img {
  width: calc(100% - 60px);
  height: auto;
  overflow: hidden;
}

#content-about, #content img {
  padding: 0px 60px 60px 60px;
  float: right;
}

#content-about {
  width: calc(100% - 495px);
  height: auto;
}

#content-about {
  background-color: transparent;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

#content-about img {
  float: right;
  width: calc(50% - 60px);
  height: auto;
  padding: 0 30px 30px 30px;
  min-width: 370px;
}

#words p {
  padding-bottom: 10px;
  text-align: justify;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.level2nav {
  display: flex;
}

.bigbutton, .mediumbutton, .littlebutton {
  margin: 5px;
  height: auto;
}

.bigbutton {
  width: 370px;
}

.mediumbutton {
  width: 170px;
}

.littlebutton {
  width: 70px;
}


